.slider_picture  {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 180px;
    background-position: center center;
}

.slider_card {
    display: flex;
    align-items: center;
    margin: 10px;
}